 /* Import fonts from Google fonts */

 @import url("https://fonts.googleapis.com/css?family=Comfortaa:regular,600&display=swap");

 @import url("https://fonts.googleapis.com/css?family=Yeseva+One:regular&display=swap");
 
/* Styles reset */

html {
  box-sizing: border-box;
}
 
*,
*::before,
*::after {
    box-sizing: inherit;
}

 body {
  font-family: "Comfortaa", cursive;
  line-height: 1.2;
  color: #000;
  font-weight: 400;
  font-size: 14px;
 }

 a {
  text-decoration: none;
  color: inherit;
 }

 ul {
  list-style: none;
 }

 button {
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
 }

/* ------------------------- */

 .header {
  background-color: #fff8f3;
 }

 .header__container,
 .footer__container,
 .top__container {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
 }

 .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .header-logo {
  margin-top: 4px;
 }

 .header-menu__list,
 .footer-menu__list {
  display: flex;
  gap: 20px;
 }

 .header-menu__link,
 .footer-menu__link {
  text-transform: uppercase;
 }

 .header-phone {
  position: relative;
 }

 .header-phone::before {
  content: "";
  position: absolute;
  background-image: url("../img/icons/phone.svg");
  width: 20px;
  height: 20px;
  left: -23px;
  top: -2px;
 }

 .header-menu__btn {
  width: 30px;
  height: 25px;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
 }

 .header-menu__btn span {
  height: 1px;
  background-color: #7b6152;
  width: 100%;
 }

 .main {
  background-color: #fff8f3;
  overflow: hidden;
 }

 .top {
  padding: 40px 0 150px;
 }

 .top__inner {
  position: relative;
 }

 .top__content {
  width: 370px;
  padding: 150px 0 290px;
 }

 .top__title {
  font-size: 30px;
  font-family: "Yeseva One", cursive;
  margin-bottom: 15px;
  letter-spacing: 0.7px;
 }

 .top__text {
  margin-bottom: 48px;
 }

 .top__btn {
  padding: 18px 54px;
  background-color: #ffb059;
  font-weight: 600;
  font-size: 14px;
  font-family: "Comfortaa", cursive;
 }

 .top__image {
  position: absolute;
  top: 30px;
  left: 215px;
 }

 .top__img-large {
  width: 110%;
 }



 













 .footer {
  background-color: #fff;
  padding-bottom: 35px;
  padding-top: 40px;
 }

 .footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .footer-contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
 }

 .email {
  margin: 17px 0;
 }

 .footer-socials {
  display: flex;
  gap: 15px;
 }












 @media (max-width: 1100px) {
  .top__content {
    padding: 110px 0 160px;
  }
  .top__image {
    left: 270px;
    top: 65px;
  }
  .top__img-large {
    width: 105%;
  }
 }
 @media (max-width: 1000px) {
  .top__content {
    width: 345px;
    padding: 80px 0 90px;
  }
  .top__text {
    margin-bottom: 30px;
  }
  .top__image {
    left: 290px;
    top: 25px;
  }
 }

 @media (max-width: 900px) {
  .top {
    padding: 90px 0 200px;
  }
  .top__content {
    width: 290px;
  }
  .top__title {
    font-size: 24px;
  }
  .top__text {
    font-size: 12px;
  }
  .top__image {
    left: 185px;
    top: -40px;
  }
  .top__img-large {
    width: 840px;
  }
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer-contacts {
    padding-top: 15px;
    width: 100%;
    text-align: center;
  }
  .footer-socials {
    justify-content: center;
  }
 }

 @media (max-width: 768px) {
  body {
    font-size: 10px;
  }
  .header__container,
  .footer__container {
    max-width: 640px;
  }
  .header-phone::before {
    background-size: cover;
    width: 14px;
    height: 14px;
    left: -16px;
    top: -1.5px;
  }
  .top {
    padding: 70px 0 150px;
  }
  .top__content {
    width: 240px;
  }
  .top__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .top__text {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .top__image {
    left: 185px;
    top: -40px;
  }
  .top__img-large {
    width: 715px;
  }
 }

 @media (max-width: 640px) {
  .heder__container,
  .footer__container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .header-menu__list {
    position: absolute;
    min-width: 153px;
    text-align: center;
    background-color: #7b6152;
    color: #fff8f3;
    flex-direction: column;
    gap: 20px 0;
    padding: 25px;
    font-size: 14px;
    left: 0;
    transform: translateY(-120%);
    transition: transform 0.5s ease-in-out;
    z-index: 3;
  }
  .header-menu__list.header-menu__list--active {
    transform: translateY(10%);
  }
  .header-menu__btn {
    display: flex;
  }
  .header-menu {
    order: 1;
  }
  .header-phone {
    font-size: 14px;
  }
  .footer {
    font-size: 14px;
  }
 }

 @media (max-width: 560px) {
  .top__img-medium {

  }

 }
 @media (max-width: 500px) {
  .footer {
    padding: 50px 0;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer-menu {
    padding: 50px 0;
    text-align: center;
  }
  .footer-menu__list {
    flex-direction: column;
  }
 }