 /* Import fonts from Google fonts */

 @import url("https://fonts.googleapis.com/css?family=Comfortaa:regular,600&display=swap");

 @import url("https://fonts.googleapis.com/css?family=Yeseva+One:regular&display=swap");
 
/* Styles reset */

html {
  box-sizing: border-box;
}
 
*,
*::before,
*::after {
    box-sizing: inherit;
}

 body {
  font-family: "Comfortaa", cursive;
  line-height: 1.2;
  color: #000;
  font-weight: 400;
  font-size: 14px;
 }

 a {
  text-decoration: none;
  color: inherit;
 }

 ul {
  list-style: none;
 }

 button {
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
 }

 .container {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
 }

 .title {
  font-size: 40px;
  font-family: "Yeseva One", cursive;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 46px;
 }

 .button {
  padding: 16px 50px;
  background-color: #ffb059;
  color: #272727;
  font-weight: 600;
  font-size: 14px;
  font-family: "Comfortaa", cursive;
 }

 .button:hover {
  background-color: #fff8f3;
  color: #272727;
  border: 2px solid #ffb059;
  padding: 14px 48px;
  transition: 0.3s ease-in-out;
 }

 .decor {
  position: relative;
 }

 .decor::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("../img/icons/candle.svg");
  width: 24px;
  height: 33px;
 }

 .decor::after {
  content: "";
  position: absolute;
  left: 23px;
  bottom: 13px;
  background-color: #7b6152;
  height: 1px;
  width: 300%;
 }

 .section {
  margin-bottom: 150px;
 }

/* ------------------------- */

 .header {
  background-color: #fff8f3;
 }

 .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .header-logo {
  margin-top: 4px;
 }

 .header-menu__list,
 .footer-menu__list {
  display: flex;
  gap: 20px;
 }

 .header-menu__link,
 .footer-menu__link {
  text-transform: uppercase;
  color: #333;
 }

 .header-menu__link:hover,
 .footer-menu__link:hover {
  color: #ffb059;
  transition: 0.3s ease-in-out;
 }

 .header-phone {
  position: relative;
  color: #333;
 }
 
 .header-phone:hover {
  color: #ffb059;
  transition: 0.3s ease-in-out;
 }

 .header-phone::before {
  content: "";
  position: absolute;
  background-image: url("../img/icons/phone.svg");
  width: 20px;
  height: 20px;
  left: -23px;
  top: -2px;
 }

 .header-menu__btn {
  width: 30px;
  height: 25px;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
 }

 .header-menu__btn:hover {
  color: #ffb059;
  transition: 0.3s ease-in-out;
 }

 .header-menu__btn span {
  height: 1px;
  background-color: #7b6152;
  width: 100%;
 }

 .main {
  background-color: #fff8f3;
  overflow: hidden;
 }

 .top {
  padding: 30px 0 200px;
 }

 .top__inner {
  position: relative;
 }

 .top__content {
  width: 391px;
  padding: 193px 0 233px;
 }

 .top__title {
  font-size: 30px;
  line-height: 35px;
  font-family: "Yeseva One", cursive;
  margin-bottom: 15px;
 }

 .top__text {
  margin-bottom: 48px;
  line-height: 16px;
  width: 371px;
 }

 .top__image {
  position: absolute;
  top: 30px;
  left: 241px;
 }

 .top__img {
  width: 1068.99px;
 }

 .about {
  background-color: #a5978e;
  padding: 50px 0;
  color: #fafafa;
 }

 .about__inner {
  display: flex;
  align-items: center;
 }

 .about__content {
  min-width: 370px;
 }

 .about__text {
  margin-bottom: 15px;
  line-height: 16px;
 }

 .about__list {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding-left: 110px;
  padding-bottom: 48px;
  position: relative;
  width: 930px;
 }

 .about__img {
  margin-bottom: 10px;
 }

 .about__img-text {
  font-size: 11px;
  line-height: 12px;
 }

 .section__inner {
  display: grid;
  grid-template-columns: 370px auto;
 }
 
 .products__content {
  gap: 50px 90px;
 }

 .content__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 69px;
  padding-bottom: 92px;
 }

 .products__item {
  width: 290px;
  text-align: center;
 }

 .products__item-img {
  margin-bottom: 8px;
 }

 .products__item-price,
 .products__item-title {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Yeseva One", cursive;
  line-height: 18px;
 }

 .products__item-title {
  margin-bottom: 16px;
 }

 .products__item-text {
  margin-bottom: 27px;
  font-size: 12px;
  line-height: 13px;
 }

 .steps__list {
  gap: 70px 25px;
  counter-reset: number;
 }

 .steps__item {
  display: flex;
  position: relative;
  gap: 40px;
  list-style-type: none;
 }

 .steps__item::before {
  counter-increment: number;
  position: absolute;
  content: "0" counter(number);
  bottom: 0;
  left: 0;
  font-size: 30px;
  font-family: "Yeseva One", cursive;
  color: #bea495;
 }

 .steps__item.steps__item--even::before {
  left: auto;
  right: 0;
 }

 .steps__item:nth-child(n+10)::before {
  content: counter(number);
 }
 .steps__item-text {
  flex-basis: 174px;
  padding-bottom: 40px;
 }

 .steps__item-img {
  width: 151px;
 }

 .products__item-wrap {
  position: relative;
  color: #fafafa;
  font-family: "Yeseva One", cursive;
  font-size: 11px;
  line-height: 13px;
 }

 .courses__item-title {
  padding: 15px;
  background-color: #bea495;
  position: absolute;
  left: 11px;
  top: 45%;
 }

 .courses__item-time {
  padding: 7px 10px;
  background-color: #bea495;
  position: absolute;
  left: 11px;
  top: 60%;
 }

 .courses__item-time span {
  font-size: 10px;
  font-family: "Comfortaa", cursive;
 }

 .courses__item-price {
  padding: 19px 10px;
  background-color: #bea495;
  position: absolute;
  right: 0;
  bottom: 2px;
 }

 .team {
  background-color: #a5978e;
  color: #fafafa;
  padding: 80px 0 60px;
 }

 .team__content {
  padding: 0;
  gap: 75px;
 }

 .team__item {
  position: relative;
 }

 .team__item-box {
  background-color: #7b6152;
  text-align: center;
  position: absolute;
  padding: 15px 10px 16px;
  bottom: 13px;
  right: 33px;
  width: 165px;
  z-index: 2;
 }

 .team__img {
  width: 218px;
 }

 .team__item-title {
  font-family: "Yeseva One", cursive;
  font-size: 12px;
  margin-bottom: 3px;
 }

 .team__item-text {
  font-size: 10px;
 }

 .feedback__content {
  padding-bottom: 100px;
 }

 .feedback__description {
  margin-right: 20px;
 }

 .feedback__item {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 16px;
  align-items: center;
 }

 .feedback__item-video {
  position: relative;
 }

 .feedback__item-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
 }

 .feedback-social__img {
  margin-bottom: 12px;
 }

 .feedback__item-content {
  padding-bottom: 70px;
 }

 .feedback__item-title {
  margin-bottom: 15px;
  font-size: 16px;
  font-family: "Yeseva One", cursive;
 }

 .feedback__item-text {
  margin-bottom: 15px;
 }

 .feedback__btn {
  position: absolute;
  bottom: 10px;
  right: 0;
 }

 .feedback__slider {
  width: 760px;
  overflow: hidden;
 }

 .feedback__content .swiper-pagination {
  bottom: 50px;
 }

 .swiper-pagination-bullet {
  background-color: #bea495;
  width: 53px;
  height: 4px;
  border-radius: 0;
  opacity: 1;
 }

 .swiper-pagination-bullet-active {
  background-color: #7b6152;
 }

 .certificates__description {
  margin-right: 20px;
  width: 340px;
 }

 .certificates__content {
  padding-bottom: 114px;
 }

 .certificates__slider {
  width: 1135px;
  margin: 0 auto;
  overflow: hidden;
 }

 .certificates__content .swiper-pagination {
  bottom: 60px;
 }

 .accordion {

 }

 .accordion__item {
  background-color: #fafafa;
  margin-bottom: 10px;
 }

 .accordion__title {
  font-family: "Yeseva One", cursive;
  font-size: 16px;
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent;
  padding: 16px 50px 16px 13px;
  position: relative;
 }

 .accordion__title::after {
  content: "";
  position: absolute;
  background-image: url("../img/icons/arrow.svg");
  width: 16px;
  height: 16px;
  right: 26px;
  top: 17px;
 }

 .accordion__title.accordion__title--active::after {
  transform: rotate(180deg);
 }

 .accordion__text {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.4s, max-height 0.4s;
 }

 .accordion__list {
  padding: 20px 40px;
 }
 .accordion__text.accordion__text--visible {
  opacity: 1;

 }

 .promo {
  background: url("../img/promo.jpg") 50% / cover no-repeat;
  padding: 140px 0;
 }

 .promo__inner {
  display: flex;
  align-items: center;
 }

 .promo__text {
  font-size: 40px;
  color: #fafafa;
  font-family: "Yeseva One", cursive;
  padding-left: 56px;
  max-width: 766px;
  margin-right: 110px;
 }

 .promo__link {
  background-color: #ffb059;
  color: #272727;
  display: inline-block;
  padding: 16px 50px;
  font-weight: 600;
 }

 .promo__link:hover {
  background-color: #fff8f3;
  color: #272727;
  border: 2px solid #ffb059;
  padding: 14px 48px;
  transition: 0.3s ease-in-out;
 }

 .contacts {
  padding: 150px 0 50px;
 }

 .contacts__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .form {
  background-color: #fff;
  width: 664px;
  padding: 75px 42px 67px;
 }

 .form__title {
  font-family: "Yeseva One", cursive;
  margin-bottom: 60px;
  font-size: 40px;
 }

 .form__input {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  display: block;
  margin-bottom: 15px;
  padding: 7px 10px;
  color: #000;
 }

 .form__input::placeholder {
  color: #d3d3d3;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
 }

 .form__input:focus {
  outline: none;
 }

 .form__btn {
  margin-top: 36px;
 }

 .footer {
  background-color: #fff;
  padding-bottom: 35px;
  padding-top: 40px;
 }

 .footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .footer-phone {
  color: #333;
 }
 .footer-phone:hover {
  color: #ffb059;
  transition: 0.3s ease-in-out;
 }
 .footer-contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
 }

 .email {
  margin: 17px 0;
  color: #333;
 }

 .email:hover {
  color: #ffb059;
  transition: 0.3s ease-in-out;
 }

 .footer-socials {
  display: flex;
  gap: 15px;
 }

@media (max-width: 1100px) {
  .promo__link {
    min-width: 135px;
    text-align: center;
  }
  .promo__text {
    padding-left: 0;
    margin-right: 60px;
  }
}

 @media (max-width: 1050px) {
  .steps__list {
    gap: 35px;
  }
  .steps__item {
    gap: 0px 30px;
  }
 }

 @media (max-width: 1000px) {
  .top {
    padding: 30px 0 140px
  }
  .top__content {
    padding: 83px 0 88px;
  }
  .top__title {
    width: 333px;
    letter-spacing: 0;
    margin-bottom: 15px;
  }
  .top__text {
    width: 300px;
    margin-bottom: 30px;
  }
  .top__image {
    left: 297px;
    top: 10px;
  }
  .top__img {
    width: 665px;
  }
  .about__content {
    min-width: 300px;
  }
  .about__list {
    padding-left: 20px;
  }
  .section__inner {
    grid-template-columns: 300px auto;
  }
  .products__content {
    gap: 67px;
  }
  .content__description {
    padding-left: 20px;
  }
  .products__text {
    font-size: 10px;
  }
  .steps__item-img {
    width: 129px;
  }
  .team {
    padding: 50px 0;
  }
  .team__content {
    gap: 30px 20px;
  }
  .feedback__inner {
    grid-template-columns: 260px auto;
  }
  .feedback__slider {
    width: 690px;
  }
  .certificates__description {
    width: 290px;
  }
  .certificates__img {
    width: 280px;
  }
  .certificates__slider {
    margin: 0 auto;
    width: 570px;
  }
  .contacts__img {
    object-fit: cover;
    width: 335px;
  }
  .form {
    width: 592px;
    padding: 70px 25px;
  }
}

@media (max-width: 950px) {
  .promo__link {
    min-width: 180px;
  }
}

 @media (max-width: 900px) {
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer-contacts {
    padding-top: 15px;
    width: 100%;
    text-align: center;
  }
  .footer-socials {
    justify-content: center;
  }
  .section__inner {
    grid-template-columns: 250px auto;
  }
  .products__content {
    gap: 30px 16px;
  }
  .steps__title {
    font-size: 28px;
    line-height: 30px;
  }
  .steps__item {
    gap: 0px 30px;
  }
  .steps__item-img {
    width: 100px;
    object-fit: cover;
  }
  .steps__item-text {
    font-size: 8px;
  }
  .steps__item::before {
    font-size: 20px;
  }
  .team__title {
    font-size: 30px;
    line-height: 32px;
  }
  .team__img {
    width: 170px;
  }
  .team__item-box {
    padding: 10px 5px 11px;
    bottom: 12px;
    right: 45px;
    width: 140px;
  }
  .certificates__description {
    width: 260px;
  }
  .certificates__title {
    font-size: 26px;
    line-height: 28px;
  }
  .certificates__slider {
    width: 490px;
    margin: 0 auto;
  }
  .certificates__img {
    width: 240px;
  }
  .promo__text {
    font-size: 30px;
  }
 }

 @media (max-width: 800px) {
  .certificates__description {
    width: 250px;
  }
  .certificates__slider {
    width: 450px;
    margin: 0 auto;
  }
  .certificates__img {
    width: 220px;
  }
 }

 @media (max-width: 768px) {
  body {
    font-size: 10px;
  }
  .header__container,
  .footer__container {
    max-width: 640px;
  }
  .header-phone::before {
    background-size: cover;
    width: 14px;
    height: 14px;
    left: -16px;
    top: -1.5px;
  }
  .top {
    padding: 30px 0 140px;
  }
  .top__content {
    padding: 100px 0 124px;
  }
  .top__title {
    width: 236px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
  }
  .top__text {
    width: 230px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .top__image {
    left: 244px;
    top: 30px;
  }
  .top__img {
    width: 655px;
  }
  .about {
    padding: 50px 0;
  }
  .about__inner {
    align-items: start;
  }
  .about__content {
    min-width: 200px;
  }
  .title {
    font-size: 15px;
    line-height: 17px;
  }
  .about__text {
    line-height: 11px;
  }
  .about__list {
    margin-left: 27px;
    margin-bottom: 32px;
    gap: 0 10px;
  }
  .about__img {
    margin-bottom: 6px;
  }
  .about__img-text {
    font-size: 6px;
  }
  .about__img--1,
  .about__img--3 {
    width: 120px;
  }
  .about__img--2 {
    width: 190px;
  }
  .content__description {
    gap: 40px 30px;
  }
  .section__inner {
    grid-template-columns: repeat(2, 200px);
  }
  .products__item {
    width: 200px;
  }
  .products__item-img {
    margin-bottom: 6px;
    width: 200px;
  }
  .products__item-price {
    font-size: 12px;
    margin-bottom: 7px;
  }
  .products__item-title {
    font-size: 12px;
    margin-bottom: 9px;
  }
  .products__item-text {
    font-size: 8px;
    line-height: 9px;
    margin-bottom: 18px;
  }
  .button {
    padding: 10px 26px;
    font-size: 10px;
  }
  .courses__item-title {
    left: -1px;
    padding: 7px;
    top: 40%;
  }
  .courses__item-time {
    left: -1px;
    padding: 5px;
    top: 55%;
  }
  .courses__item-price {
    padding: 7px;
    right: 0;
    bottom: 9px;
  }
  .team {
    margin-bottom: 70px;
  }
  .team__content {
    gap: 45px;
    
  }
  .team__img {
    width: 140px;
  }
  .team__item-box {
    padding: 9px 6px 10px;
    bottom: 8px;
    right: -35px;
    width: 109px;
  }
  .team__item-title {
    font-size: 8px;
  }
  .team__item-text {
    font-size: 7px;
  }
  .feedback__item-video {
    width: 200px;
  }
  .feedback__item-img {
    width: 200px;
  }
  .feedback__content .swiper-pagination {
    bottom: 50px;
  }
  .feedback__slider {
    width: 446px;
  }
  .feedback__item-content {
    padding-bottom: 45px;
  }
  .feedback__item-text {
    margin-bottom: 5px;
    font-size: 8px;
  }
  .feedback-social__img {
    margin-bottom: 0px;
  }
  .feedback__item-title {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 400;
  }
  .feedback__content {
    padding-bottom: 80px;
  }
  .feedback__btn {
    bottom: 0;
  }
  .swiper-pagination-bullet {
    width: 30px
  }
  .certificates {
    margin-bottom: 50px;
  }
  .certificates__inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .certificates__description {
    width: 210px;
  }
  .certificates__img {
    width: 200px;
  }
  .certificates__slider {
    width: 410px;
    margin: 0 auto;
  }
  .certificates__content .swiper-pagination {
    bottom: 50px;
  }
  .certificates__content {
    padding-bottom: 80px;
  }
  .certificates__img {
    width: 200px;
  }
  .questions__inner {
    display: block;
  }
  .questions__title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
  }
  .accordion__title {
    font-size: 14px;
  }
  .accordion__text {
    font-size: 10px;
  }
  .promo {
    padding: 67px 0;
  }
  .promo__text {
    font-size: 18px;
    margin-left: 50px;
    margin-right: 100px;
  }
  .promo__link {
    padding: 12px 30px;
    font-size: 12px;
    min-width: 135px;
  }
  .contacts {
    padding: 50px 0;
  }
  .contacts__img {
    width: 187px;
  }
  .form {
    width: 440px;
    padding: 30px 22px;
  }
  .form__title {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .form__btn {
    margin-top: 10px;
  }
  .questions {
    margin-bottom: 50px;
  }
 }

 @media (max-width: 640px) {
  .heder__container,
  .footer__container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .header-menu__list {
    position: absolute;
    min-width: 153px;
    text-align: center;
    background-color: #7b6152;
    color: #fff8f3;
    flex-direction: column;
    gap: 20px 0;
    padding: 25px;
    font-size: 14px;
    left: 0;
    transform: translateY(-120%);
    transition: transform 0.5s ease-in-out;
    z-index: 3;
  }
  .header-menu__list.header-menu__list--active {
    transform: translateY(10%);
  }
  .header-menu__btn {
    display: flex;
  }
  .header-menu {
    order: 1;
  }
  .header-phone {
    font-size: 14px;
  }
  .section__inner {
    display: block;
  }
  .section__description {
    margin-bottom: 30px;
    text-align: center;
  }
  .content__description {
    place-self: center;
    padding-left: 0;
  }
  .feedback {
    margin-bottom: 30px;
  }
  .certificates__slider {
    width: 420px;
    margin: 0 auto;
  }
  .certificates__description {
    width: 400px;
    margin: 0 auto 30px;
  }
  .footer {
    font-size: 14px;
  }
  
 }

 @media (max-width: 550px) {
  .certificates__slider {
    width: 400px;
    margin: 0 auto;
  }
  .certificates__img {
    width: 190px;
  }
 }

 @media (max-width: 500px) {
  .top {
    padding: 30px 0 50px;
  }
  .top__content {
    padding: 20px 0 100px;
  }
  .top__title {
    width: 180px;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .top__text {
    width: 167px;
    line-height: 1.5;
    font-size: 8px;
    margin-bottom: 15px;
  }
  .top__image {
    top: -30px;
    left: 177px;
  }
  .top__img {
    width: 180px;
  }
  .button {
    font-size: 10px;
  }
  .about {
    padding: 40px 0 30px;
    margin-bottom: 50px;
  }
  .about__content {
    min-width: 172px;
  }
  .about__list {
    margin-top: 30px;
    margin-left: 0;
    gap: 5px;
    align-items: flex-end;
    padding-left: 10px;
  }
  .about__img-text {
    display: none;
  }
  .about__img--1,
  .about__img--3 {
    width: 80px;
  }
  .about__img--2 {
    width: 140px;
  }
  .decor::before {
    bottom: 0;
  }
  .decor__list::after {
    bottom: 15px;
  }
  .content__description {
    gap: 30px 27px;
  }
  .section {
    padding-bottom: 50px;
  }
  .section__description {
    margin: 0 auto 30px;
    width: 300px;
  }
  .content__description {
    padding-bottom: 62px;
  }
  .steps__list {
    gap: 25px;
  }
  .steps__item::before {
    font-size: 15px;
  }
  .steps__item-text {
    padding-bottom: 20px;
  }
  .team {
    margin-bottom: 50px;
  }
  .team__content {
    padding-bottom: 0;
  }
  .feedback.section {
    padding-bottom: 30px;
    margin-bottom: 0;
  }
  .feedback__slider {
    width: 390px;
  }
   .feedback__item-video {
    width: 180px;
  }
  .feedback__item-img {
    width: 180px;
  }
  .feedback__item-content {
    width: 190px;
  }
  .certificates {
    margin-bottom: 10px;
  }
  .certificates__slider {
    width: 370px;
    margin: 0 auto;
  }
  .questions {
    margin-bottom: 10px;
  }
  .promo {
    padding: 40px 0;
  }
  .promo__text {
    font-size: 15px;
    margin: 0 30px;
  }
  .promo__link {
    font-size: 8px;
    padding: 10px 20px;
    min-width: 100px;
  }
  .contacts__img {
    display: none;
  }
  .footer {
    padding: 50px 0;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer-menu {
    padding: 50px 0;
    text-align: center;
  }
  .footer-menu__list {
    flex-direction: column;
  }
  .form__input::placeholder {
    font-size: 10px;
  }
 }

 @media (max-width: 460px) {
  .certificates__slider {
    width: 300px;
    margin: 0 auto;
  }
  .certificates__img {
    width: 300px;
  }
 }

 @media (max-width: 404px) {
  .steps__list {
    gap: 20px;
  }
  .steps__item {
    gap: 0px 16px;
  }
  .steps__item-img {
    width: 70px;
  }
  .steps__item-text {
    font-size: 6px;
  }
  .courses__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .team__content {
    grid-template-columns: repeat(1, 1fr);
    place-self: start;
  }
  .team__item-box {
   padding: 14px 10px 15px;
   bottom: 13px;
   left: 148px;
   width: 151px;
   z-index: 2;
 }

 .team__img {
   width: 204px;
 }

 .team__item-title {
   font-size: 12px;
   margin-bottom: 3px;
 }

 .team__item-text {
   font-size: 10px;
 }
 .feedback__item {
  grid-template-columns: auto;
  text-align: center;
 }
 .feedback__item-content {
  width: 250px;
  margin: 0 auto;
 }
 .feedback-social__img {
  margin-bottom: 10px;
 }
 .feedback__item-title {
  margin-bottom: 10px;
 }
 .feedback__item-video {
  width: 250px;
  margin: 0 auto;
 }
 .feedback__item-img {
  width: 230px;
  margin: 0 auto 20px;
 }
 .feedback__slider {
  width: 250px;
  margin: 0 auto;
 }
 .feedback__btn {
  position: static;
 }
 .certificates__slider {
   width: 300px;
   margin: 0 auto;
 }
 .certificates__img {
  width: 300px;
 }
 .promo__text {
  margin: 0 30px 0 0;
 }
}

 @media (max-width: 360px) {
  body {
    font-size: 8px;
  }
  .top {
    padding: 30px 0;
  }
  .top__content {
    padding: 30px 0 50px;
  }
  .top__title {
    width: 200px;
    font-size: 14px;
    line-height: 16px;
  }
  .top__text {

    font-size: 8px;
  }
  .top__image {
    left: 150px;
    top: -10px;
  }
  .top__img {
    width: 195px;
  }
  .about {
    padding: 20px 0 0;
  }
  .about__content {
    min-width: 233px;
  }
  .title {
    margin-bottom: 10px;
  }
  .about__text {
    margin-bottom: 10px;
  }
  .about__list {
    padding-left: 12px;
    margin-left: 12px;
    gap: 0 15px;
    padding-bottom: 35px;
    margin-bottom: 20px;
  }
  .about__img--2,
  .about__img--3 {
    display: none;
  }
  .section__description {
    width: 235px;
    margin: 0 auto 25px;
  }
  .products__content {
    gap: 40px 15px;
  }
  .products__item {
    width: 150px;
  }
  .products__item-img {
    width: 150px;
  }
  .button {
    font-size: 8px;
    padding: 10px 20px;
  }
  .products__item-price,
  .products__item-title {
    font-size: 10px;
    margin-bottom: 5px;
    line-height: 11px;
  }
  .products__item-text {
    margin-bottom: 16px;
  }
  .courses__item,
  .courses__item-img {
    width: 255px;
  }
  .certificates__slider {
   width: 280px;
   margin: 0 auto;
 }
 .certificates__img {
   width: 280px;
 }
}